@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
*::selection{
    background-color: rgb(255, 94, 0);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(photos/122.jpg);
    background-position:70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;
    backdrop-filter: blur(2px);
}
header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 70px;
}
header nav{
    width:56%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}
header nav a{
    padding: 10px;
    transition: .35s ease;
}
header nav a:hover,.active{
    text-decoration: underline;
    color: rgb(255, 131, 42);
}

.container{
    overflow: hidden;
}
.content{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body h1{
    text-align: center;
    color: rgb(255, 107, 38);
    text-shadow: 0 0 5px black;
    padding: 2px;
}
.season{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    transition: .5s ease;
}
.card1 a , .card2 a{
    display: block;
    width: 100%;
    height: 200px;
}
.card1,.card2{
    background: rgba(20, 20, 20, 0.514);
    width:34%;
    height: auto;
    text-align: center;
    border: 2px solid rgb(255, 107, 38,.7);
    border-radius: 15px;
    margin: 30px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: .5s ease;
    opacity: .9;
}
.card2{
    border: 2px solid rgb(142, 229, 255,.7);
}
.season .card1:hover,.card2:hover{
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}
.card1 img,.card2 img{
    width: 100%;
    height: 100%;
}
.card1 h2{
    letter-spacing: 1px;
    padding: 10px;
    color: rgb(255, 107, 38);
    text-shadow: 0 0 7px rgb(255, 94, 0);
}
.card2 h2{
    letter-spacing: 1px;
    padding: 10px;
    color: rgb(142, 229, 255);
    text-shadow: 0 0 7px  rgb(142, 229, 255);
}
@media (max-width:1160px){
    .card2 h2{
        font-size: 1.1em;
    }
}
@media (max-width:840px){
    .season{
        flex-direction: column;
    }

    .card1 , .card2{
        width: 60%;
    }
    .card2 h2, .card1 h2{
        font-size: 1.5em;
        padding: 15px;
    }
}
@media (max-width:425px){
    .card1 a, .card2 a{
        height: 80%;
    }
    .card2 h2, .card1 h2{
        font-size: 1em;
        padding: 5px;
    }
}
@media (max-width:375px){
    .card1 a, .card2 a{
        height: 80%;
    }
    .card2 h2, .card1 h2{
        font-size: .7em;
        padding: 5px;
    }
}