@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
*::selection{
    background-color: rgb(255, 94, 0);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(photos/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: solid 2px rgba(255, 255, 255, 0.247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    width: 93%;
    height: 90vh;
    transition: .5s ease;
    overflow: hidden;
}
.container:hover{
    backdrop-filter: blur(4px);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 35px;
    text-transform: uppercase;
    margin: 5px 30px;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul li a{
    transition: .3s ease;
    font-size: 18px;
}
ul li a:hover,
.active{
    text-decoration: underline;
    color: orange;
    text-shadow: 1px 1px 5px black;
}
.content{
    display: flex;
    width: 100%;
    height: 88%;
}
.leftside{
    width: 300px;
    height: 100%;
}
.lscon{
    width: 100%;
    height: 95%;
    border: 2px solid rgba(255, 255, 255, 0.219);
    border-radius: 20px;
    padding: 10px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.search{
    height: 40px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.219);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.search input{
    background: transparent;
    outline: none;
    width: 150px;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 15px;
    margin: 10px;
    margin-left: 20px;
    color: white;
    padding: 3px;
    text-align: center;
}
.episodes{
    margin: 20px;
    width: 90%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto ;
}
.episodes a{
    width: 130px;
    height: 100%;
    font-size: 20px;
    margin-top:7px ;
    margin-left: 10px;
    justify-content: space-around;
    transition: .5s ease;
}
.episodes a:hover,.active-ep{
    background: rgba(255, 110, 25, 0.39);
    border-radius: 15px;
    padding-left: 15px ;
    text-decoration: underline;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.192); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff71; 
}input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.video-player{
    position: relative;
    left: 100px;
    top: 0;
    height: 470px;
    padding: 20px;
    text-align: center;
}
video{
    border: black solid 2px;
    border-radius: 15px;
    height: auto;
    width: 700px;
}
.video-player h1{
    padding: 5px;
    color: white;
    text-shadow: 0 0 10px black;
}